@model pyt_dunamis_v2.Models.OrdenesViewModel
@using pyt_dunamis_v2.Helpers

@{
    ViewData["Title"] = "Reporte de órdenes";
}

<h2 class="mb-2">Reporte de órdenes</h2>
<ul class="nav nav-tabs mb-2">

    @* <li class="nav-item">
        <a class="nav-link" asp-controller="Ordenes" asp-action="HistorialOrdenesPorColaborador">Reportes</a>
    </li> *@

</ul>

@* <div class="col-md-6">
    <form asp-action="ReportesOrdenes" method="get" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <label for="estadoSelect">Filtrar por estado</label>
                <select id="estadoSelect" name="idestado" class="form-select">
                    <option value="">-- Todos los estados --</option>
                    @foreach (var estado in Model.TipoEstadoOrden)
                    {
                        <option value="@estado.Value" selected="@estado.Selected">@estado.Text</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div> *@

<div class="col-md-12">
    <form asp-action="ReportesOrdenes" method="get" class="mb-4">
        <div class="row">
            <!-- Filtro por estado -->
            <div class="col-md-6">
                <label for="estadoSelect">Filtrar por estado</label>
                <select id="estadoSelect" name="idestado" class="form-select">
                    <option value="">-- Todos los estados --</option>
                    @foreach (var estado in Model.TipoEstadoOrden)
                    {
                        <option value="@estado.Value" selected="@estado.Selected">@estado.Text</option>
                    }
                </select>
            </div>

            <!-- Filtro por fechas -->
            <div class="col-md-6">
                <label for="fechaInicio">Fecha Inicio</label>
                <input type="date" id="fechaInicio" name="fechaInicio" class="form-control"
                       value="@Model.fechaInicio?.ToString("yyyy-MM-dd")" />

                <label for="fechaFin" class="mt-2">Fecha Final</label>
                <input type="date" id="fechaFin" name="fechaFin" class="form-control"
                       value="@Model.fechaFin?.ToString("yyyy-MM-dd")" />

                <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<div class="mb-3">
    <a class="btn btn-success" asp-action="ReportesOrdenesPdf"
       asp-route-idestado="@Context.Request.Query["idestado"]"
       asp-route-fechaInicio="@Model.fechaInicio?.ToString("yyyy-MM-dd")"
       asp-route-fechaFin="@Model.fechaFin?.ToString("yyyy-MM-dd")">Descargar PDF</a>
</div>

<!-- Tabla de historial -->
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Número de orden</th>
                <th>Contrato de cliente</th>
                <th>Tipo de orden</th>
                <th>Fecha de visita</th>
                <th>Detalle de la orden</th>
                <th>Estado de la orden</th>
                <th>Colaborador</th>
                <th>Puesto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!--cuando da error de null en algún campo de otras tablar, siempre revisar el AccesoDatos de tenga .Include -->
            @foreach (var item in Model.HistorialOrdenes)
            {
                <tr>
                    <td>@item.id_orden</td>
                    <td>@item.contrato_cliente</td>
                    <td>@item.tipo_trabajo</td>
                    <td>@item.fecha_visita.ToShortDateString()</td>
                    <td>@item.descripcion_trabajo</td>
                    <td>@item.Estado_orden?.descripcion_estado</td>
                    <td>@item.Colaborador.Persona.nombre @item.Colaborador.Persona.apellido_1</td>
                    <td>@item.Colaborador.Catalogo_perfil_puesto.descripcion_puesto</td>
                    <td>
                        <i class="bi bi-person-circle text-primary"
                           style="cursor:pointer; font-size: 1.2rem;"
                           title="Asignar"
                           onclick="mostrarModalAsignarOrden(@item.id_orden, 'ReportesOrdenes')">
                        </i>
                        &nbsp;&nbsp;
                        <i class="bi bi-pencil-square text-warning"
                           style="cursor:pointer; font-size: 1.2rem;"
                           title="Editar"
                           onclick="mostrarModalEditarOrden(@item.id_orden, 'ReportesOrdenes')">
                        </i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="contenedor-modal-editar-orden"></div>
<div id="contenedor-modal-asignar-orden"></div>

@section Scripts {
    <script src="~/js/modal.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
